<p>Home page</p>

<button class=“btn btn-primary” id=“logout” type=“submit”>signup</button>

<form class="form user-form">
      <div class="form-group">
        <label for="userPost">User post:</label>
        <input class="form-input" type="text" id="userPost" />
      </div>
      
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Post</button>
      </div>
    </form>
<script src= "./js/homePage.js"></script>
