:root {
  --color-2: #72f347; /* Social login area background color */
  --color-3: #f7fef5; /* Social login buttons */
  --color-4: #151515; /* Login with email button */
  background-color: #f2f2f2;
}
body {
  font-family: Montserrat, sans-serif;
  height: 100vh;
  font-size: 17px;
}

.wrapper {
  max-width: 960px;
  min-width: 220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  padding: 10px 20px;
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: #232323;
  color: white;
  text-align: center;
  padding: 6px;
}

footer a {
  color: var(--color-1);
  text-decoration: none;
}

section {
  margin-top: 20px;
  margin-bottom: 160px;
}

.face {
  text-align: center;
  position: relative;
}

.login-container {
  display: flex;
  border-radius: 3px;
  box-shadow: 6px 0 15px rgba(8, 8, 8, 0.4);
}

.social-login {
  background-color: var(--color-2);
  color: #fff;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
  flex: 1;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.social-login a {
  text-decoration: none;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  font-family: "Unbounded", cursive;
}

.logo p {
  margin-top: 21px;
}

.btn {
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 0.3rem 0.3rem #111827;
  background-color: var(--color-3);
  transition-duration: 0.2s;
}

.btn:hover {
  transform: scale(1.01);
  filter: brightness(90%);
}

.btn a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  padding: 8px 21px;
  color: #111827;
  font-weight: bold;
}

.email-login {
  flex: 2;
  padding: 40px;
}

.email-login a {
  color: blue;
  text-decoration: none;
}

.email-login a:hover {
  border-bottom: 1px solid blue;
}

.login-h-container {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input:focus {
  outline: 1px solid #ffc85c;
  transform: scale(1.005);
}

input[type="email"],
input[type="password"] {
  line-height: 2.6;
  padding: 0 10px;
  font-size: 17px;
  width: 100%;
}

input[type="submit"] {
  background-color: var(--color-4);
  padding: 10px 120px;
  color: #fff;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 3px;
  margin-block: 30px;
  box-shadow: 0.3rem 0.3rem #111827;
  cursor: pointer;
  transition-duration: 0.2s;
}

input[type="submit"]:hover {
  transform: scale(1.007);
  filter: brightness(90%);
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
}

label {
  position: relative;
}

label span {
  transition-duration: 0.2s;
  font-size: 18px;
  color: #5a5959;
  font-weight: 600;
  position: absolute;
  left: 6px;
  top: 11px;
  padding: 4px 8px;
}

label:focus-within span,
.focus-span {
  transform: translate(0.27rem, -94%) scale(0.8);
  background-color: #fff;
}

.logoutBtn {
  height: 50px;
  width:50px;
  margin-right: 150px;
}
.form-post-form{
  font-size: 24px;
  border: 1px solid rgb(255, 254, 254);
  border-radius: 25px;
}

.form-comment-form {
  margin-left: 150%;
}

.comment-content {
  margin-left: 25%;
  font-size: smaller;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .recovery {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.recovery div {
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.recovery a {
  margin-left: 10px;
  white-space: nowrap;
}
@media only screen and (max-width: 890px) {
  .eye-cover1 {
    left: 45%;
  }

@media only screen and (max-width: 860px) {
  input[type="submit"] {
    padding-inline: 0;
  }
}

@media only screen and (max-width: 720px) {
  .login-container {
    flex-direction: column;
  }

  .vector-3 {
    top: 89%;
  }
}

@media only screen and (max-width: 420px) {
  main {
    padding: 0;
  }

  .social-login {
    padding: 20px;
  }

  .logo {
    font-size: 28px;
  }

  .logo img {
    width: 92px;
    height: 92px;
  }

  .email-login {
    padding: 20px;
  }

  .btn a {
    padding: 8px 12px;
  }
  
  /* <---Dark mode future--->
  @media (prefers-colors-scheme: dark) {
*/
  